* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.section-1 {
}

.container-principal {
  background: linear-gradient(to right, #413d3e, #b1afaf);
  color: #ffffff;
  padding: 10rem 0 12rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  width: 25em;
}

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.intro-title {
  width: 43rem;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.intro-subtitle {
  width: 43rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section-2 {
  position: relative;
  background: #fdfdfd;
}

.elementos-intro {
  background-color: white;
  border: 0 solid;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -119px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 4rem;
  left: 4rem;
}

.elementos-intro-conteudo {
  padding: 4rem;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #a2a2a2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mensagem {
  padding: 12rem 15rem 4rem 15rem;
  font-family: "Times New Roman", Sans-serif;
  font-size: 37px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

@media screen and (max-width: 766px) {
  .container-principal {
    background: linear-gradient(to bottom, #413d3e, #b1afaf);
    flex-direction: column-reverse;
    gap: 1.5rem;
    padding: 2rem 0 12rem 0;
  }
  .intro {
    grid-row: 1;
    max-width: none; /* Remova a largura máxima dentro da regra de mídia */
    padding: 0 10px; /* Adicionar algum espaçamento interno */
    align-items: center;
  }

  .intro-title {
    width: auto;
    font-size: 38px;
    grid-row: 1;
    max-width: none; /* Remova a largura máxima dentro da regra de mídia */
    text-align: center; /* Centralizar o texto */
    padding: 0 10px;
  }

  .intro-subtitle {
    font-size: 1em;
    text-align: justify;
    width: auto;
    grid-row: 1;
    max-width: none; /* Remova a largura máxima dentro da regra de mídia */
    padding: 0 10px;
  }

  .logo {
    width: 152px;
    padding: 0;
  }

  .elementos-intro {
    width: auto;
    align-items: center;
    flex-direction: column;
    right: 1rem;
    left: 1rem;
  }

  .elementos-intro-conteudo {
    padding: 2.2rem;
    font-size: 12px;
  }

  .mensagem {
    width: auto;
    padding: 32rem 1rem 4rem 1rem;
    font-size: 22px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
